@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  font-size: 1rem;
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}

/*header styles*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.header nav{
  opacity: 0;
  z-index: -99999;
  transition: all 0.3s ease-in-out;
}

.header nav.open {
  background-color: white;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  /*left: 0;*/
  width: 75vw;
  padding: 1.25rem;
  box-shadow: -4px -4px -4px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.header nav ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.header nav ul li{
  margin: 1rem 0;
  font-size: 1rem;
}
.header #menuBtn{
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}


.header #closeMenuBtn{
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: inherit;
  padding-right:  1.25rem  ;

}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

li {
  font-weight: 700;
}


/*main article style*/
.top-section {
  padding-top: 0;
}

img {
  max-width: 100%;
  width: 100%;
}

p {
  line-height: 1.8;
  color: hsl(236, 13%, 42%);
  font-size: 0.95rem;
}

.main-article h1 {
  font-size: 3rem;
  font-weight: 800;
  color: hsl(240, 100%, 5%);
  margin: 1rem 0;
}

.main-article p {
  margin-bottom: 1rem;
}

.main-article button {
  background-color: hsl(5, 85%, 63%);
  color: #fff;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border: none;
  font-weight: 400;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition: all 0.3s ease-in-out;
}
.main-article button:hover {
  background-color: hsl(240, 100%, 5%);
  cursor: pointer;
}

.news {
  margin-top: 3rem;
  background-color: hsl(240, 100%, 5%);
  padding: 1.25rem;
}

.news h2 {
  font-size: 2rem;
  color: hsl(35, 77%, 62%);
  margin-bottom: 1rem;
}

.news h3 {
  color: hsl(36, 100%, 99%);
  margin-bottom: 0.5rem;
}

.news h3:hover {
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}

.news p {
  margin-bottom: 1rem;
  color: hsl(233, 8%, 79%);
}

.news .new:not(:last-child) {
  border-bottom: 1px solid hsl(236, 13%, 42%);
  margin-bottom: 1rem;
}

/*articles styles*/
.articles  {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  padding: 2rem 0 1.25rem 0;
}

.articles article{
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding-bottom: 2rem;
}


.articles span {
  color: hsl(236, 13%, 42%);
  font-weight: 800;
  font-size: 2.5rem;
  opacity: 50%;
}

.articles article img{
  width: 30%;
}

.articles h4 {
  font-size: 1rem;
  color: hsl(240, 100%, 5%);
  padding: 0.9rem 0 0.9rem 0;

}

.articles p{
  font-size: 0.8rem;
}

@media (min-width:768px){
  .articles {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (min-width:1024px){
 
  .header {
    padding: 2rem 0 2rem 0;
  }

  .header nav {
    opacity: 1;
    z-index: auto;
    width: 100%;
  }

  .header  #menuBtn{
    display: none;
  }
  .header nav #closeMenuBtn{
    display: none;
  }

 
  .top-section {
    display: flex;
  }

  .main-article h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-right:4rem ;

  }

  .main-article > div:first-child article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  
 


  .main-article{
    padding-right: 2rem;
  }


  .main-article > div:last-child {
    margin-top: 0;
  }

  .articles {
    grid-template-columns: repeat(3, 1fr);
  }

  .news {
    margin-top: 0;
    width: 60rem;
  }

  
}
